In [5]:
import pandas as pd
import xlrd
import numpy as np

In [2]:
xls = pd.ExcelFile('/Users/GGS/Downloads/global_superstore/Global Superstore.xls')
df1=pd.read_excel(xls,"Orders")

In [3]:
df1.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [6]:
df1_num=df1.select_dtypes(include=[np.number])

In [7]:
df1_cat=df1.select_dtypes(include=['object'])

In [8]:
(df1_cat.isnull().sum().sort_values(ascending=False))

Order Priority    0
Product Name      0
Sub-Category      0
Category          0
Product ID        0
Region            0
Market            0
Country           0
State             0
City              0
Segment           0
Customer Name     0
Customer ID       0
Ship Mode         0
Order ID          0
dtype: int64

In [9]:
(df1_num.isnull().sum().sort_values(ascending=False))

Postal Code      41296
Shipping Cost        0
Profit               0
Discount             0
Quantity             0
Sales                0
Row ID               0
dtype: int64

In [12]:
df1_num.drop("Postal Code", axis=1,inplace=True)

C:\Users\GGS\Anaconda3\envs\tfdeeplearning\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
df1.corr()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
Row ID,1.000000,0.009671,-0.043889,-0.173483,0.087594,-0.019037,-0.039076
Postal Code,0.009671,1.000000,-0.023854,0.012761,0.058443,-0.029961,-0.025449
Sales,-0.043889,-0.023854,1.000000,0.313577,-0.086722,0.484918,0.768073
Quantity,-0.173483,0.012761,0.313577,1.000000,-0.019875,0.104365,0.272649
Discount,0.087594,0.058443,-0.086722,-0.019875,1.000000,-0.316490,-0.079055
Profit,-0.019037,-0.029961,0.484918,0.104365,-0.316490,1.000000,0.354441
Shipping Cost,-0.039076,-0.025449,0.768073,0.272649,-0.079055,0.354441,1.000000

# Sales is the target variable

In [14]:
from sklearn.preprocessing import LabelEncoder

# label Encoding

In [15]:
le=LabelEncoder()
df1_cat1=df1_cat.apply(le.fit_transform)

In [17]:
df1_cat.head()

,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
0,CA-2012-124891,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,US,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,Critical
1,IN-2013-77878,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,APAC,Oceania,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",Critical
2,IN-2013-71249,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,APAC,Oceania,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",Medium
3,ES-2013-1579342,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,Germany,EU,Central,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",Medium
4,SG-2013-4320,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Africa,Africa,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",Critical

In [18]:
df1_cat1.head()

,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
0,1499,1,1286,632,0,2290,703,139,6,6,8246,2,0,2750,0
1,13063,2,808,413,1,3518,702,6,0,9,907,0,5,2525,0
2,12983,0,336,181,0,497,820,6,0,9,10157,2,13,2502,3
3,6813,0,873,424,2,375,145,47,4,3,10146,2,13,2414,3
4,21702,1,1290,632,0,857,270,110,1,0,10249,2,6,3158,0

In [19]:
df_en=pd.concat([df1_num,df1_cat1],axis=1)

In [20]:
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
df_en.head()

,Row ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order ID,Ship Mode,Customer ID,Customer Name,...,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
0,32298,2309.650,7,0.0,762.1845,933.57,1499,1,1286,632,...,2290,703,139,6,6,8246,2,0,2750,0
1,26341,3709.395,9,0.1,-288.7650,923.63,13063,2,808,413,...,3518,702,6,0,9,907,0,5,2525,0
2,25330,5175.171,9,0.1,919.9710,915.49,12983,0,336,181,...,497,820,6,0,9,10157,2,13,2502,3
3,13524,2892.510,5,0.1,-96.5400,910.16,6813,0,873,424,...,375,145,47,4,3,10146,2,13,2414,3
4,47221,2832.960,8,0.0,311.5200,903.04,21702,1,1290,632,...,857,270,110,1,0,10249,2,6,3158,0

In [30]:
df_en1=df_en.drop(['Sales','Row ID'],axis=1)

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
y=df_en["Sales"]

In [33]:
X_train, X_test, y_train, y_test = train_test_split(df_en1,y,test_size=0.2)

In [34]:
 from sklearn.linear_model import LinearRegression

In [35]:
Linreg=LinearRegression()

In [37]:
LinRegmodel=Linreg.fit(X_train,y_train)

In [38]:
LinRegmodel.score(X_train,y_train)

0.67067795116678663

In [39]:
df_en2=df_en1.drop("Discount",axis=1)

In [40]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(df_en2,y,test_size=0.2)

In [41]:
LinRegmodel2=Linreg.fit(X_train2,y_train2)

In [42]:
LinRegmodel2.score(X_train2,y_train2)

0.66357793775805174

In [44]:
from sklearn.preprocessing import OneHotEncoder

In [45]:
X_train_0 = X_train.drop("Discount", axis=1)

In [46]:
LinRegmodel_0=Linreg.fit(X_train_0,y_train)

In [47]:
LinRegmodel_0.score(X_train_0,y_train)

0.66867809927234845

In [48]:
onehot_encoder = OneHotEncoder(sparse=False)

In [49]:
X_train_1 = X_train_0.drop("Order ID", axis=1)

In [50]:
LinRegmodel_1=Linreg.fit(X_train_1,y_train)

In [51]:
LinRegmodel_1.score(X_train_1,y_train)

0.6686735989998922

# One Hot Encoding Example

In [52]:
city_ohe = OneHotEncoder()

In [54]:
X_city = city_ohe.fit_transform(df_en.City.values.reshape(-1,1)).toarray()

In [56]:
X_city

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [57]:
df_City = pd.DataFrame(X_city, columns = ["City_"+str(int(i)) for i in range(X_city.shape[1])])

In [58]:
df_City.head()

,City_0,City_1,City_2,City_3,City_4,City_5,City_6,City_7,City_8,City_9,...,City_3626,City_3627,City_3628,City_3629,City_3630,City_3631,City_3632,City_3633,City_3634,City_3635
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
df_en1_0 = df_en1.drop("City",axis=1)

In [60]:
df_en1_0_city_ohe = pd.concat([df_en1_0,df_City],axis=1)

In [61]:
X_train_ohe, X_test_ohe, y_train_ohe, y_test_ohe = train_test_split(df_en1_0_city_ohe,y,test_size=0.2)

In [62]:
LinRegmodel_ohe=Linreg.fit(X_train_ohe,y_train_ohe)

In [63]:
Linreg.score(X_train_ohe,y_train_ohe)

0.69255310403540538

In [64]:
df_en1_1 = df_en1.drop(["Category","City"],axis=1)

In [65]:
category_ohe = OneHotEncoder()

In [66]:
X_category = category_ohe.fit_transform(df_en.Category.values.reshape(-1,1)).toarray()

In [67]:
df_Category = pd.DataFrame(X_category, columns = ["Category_"+str(int(i)) for i in range(X_category.shape[1])])

In [68]:
df_Category.head()

   Category_0  Category_1  Category_2
0         0.0         0.0         1.0
1         1.0         0.0         0.0
2         0.0         0.0         1.0
3         0.0         0.0         1.0
4         0.0         0.0         1.0

In [69]:
df_en1_0_2_ohe = pd.concat([df_en1_0,df_City,df_Category],axis=1)

In [70]:
X_train_ohe_2, X_test_ohe_2, y_train_ohe_2, y_test_ohe_2 = train_test_split(df_en1_0_2_ohe,y,test_size=0.2)

In [71]:
LinRegmodel_ohe_2=Linreg.fit(X_train_ohe_2,y_train_ohe_2)

In [72]:
Linreg.score(X_train_ohe_2,y_train_ohe_2)

0.69362950250930977

In [73]:
df_en1_2 = df_en1.drop(["Category","City","Country"],axis=1)

In [74]:
country_ohe = OneHotEncoder()

In [75]:
X_country = country_ohe.fit_transform(df_en.Country.values.reshape(-1,1)).toarray()

In [76]:
df_Country = pd.DataFrame(X_country, columns = ["Country_"+str(int(i)) for i in range(X_country.shape[1])])

In [77]:
df_en1_0_3_ohe = pd.concat([df_en1_2,df_City,df_Category,df_Country],axis=1)

In [78]:
X_train_ohe_3, X_test_ohe_3, y_train_ohe_3, y_test_ohe_3 = train_test_split(df_en1_0_3_ohe,y,test_size=0.2)

In [79]:
LinRegmodel_ohe_3=Linreg.fit(X_train_ohe_3,y_train_ohe_3)

In [80]:
Linreg.score(X_train_ohe_3,y_train_ohe_3)

0.74353850870878624

In [82]:
y_pre_ohe_3 = LinRegmodel_ohe_3.predict(X_test_ohe_3)

In [83]:
np.sqrt(np.mean( (y_test_ohe_3 - y_pre_ohe_3)**2))

6476694.7409914751