In [1]:
import pandas as pd
import numpy as np

In [2]:
df2=pd.read_csv("C:/Users/SAILA/Downloads/Tutorials/global_superstore/Global_Superstore_null.csv")

In [3]:
df2.shape

(51290, 25)

In [4]:
df2.head()

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,0,32298.0,CA-2012-124891,2012-07-31 00:00:00,2012-07-31 00:00:00,Same Day,RH-19495,Rick Hansen,Consumer,New York City,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7.0,0.0,762.1845,933.57,Critical
1,1,26341.0,IN-2013-77878,2013-02-05 00:00:00,2013-02-07 00:00:00,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9.0,0.1,-288.7650,923.63,Critical
2,2,25330.0,IN-2013-71249,2013-10-17 00:00:00,2013-10-18 00:00:00,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9.0,0.1,919.9710,915.49,Medium
3,3,13524.0,ES-2013-1579342,2013-01-28 00:00:00,2013-01-30 00:00:00,First Class,KM-16375,Katherine Murray,Home Office,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5.0,0.1,-96.5400,910.16,Medium
4,4,47221.0,SG-2013-4320,2013-11-05 00:00:00,2013-11-06 00:00:00,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8.0,0.0,311.5200,903.04,Critical

In [5]:
df2.columns

Index(['Unnamed: 0', 'Row ID', 'Order ID', 'Order Date', 'Ship Date',
       'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'City', 'State',
       'Country', 'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [6]:
df2_num=df2.select_dtypes(include=[np.number])

In [7]:
df2_cat=df2.select_dtypes(include=['object'])

In [8]:
df2_num.columns

Index(['Unnamed: 0', 'Row ID', 'Postal Code', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost'],
      dtype='object')

In [9]:
df2_cat.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'City', 'State', 'Country', 'Market',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Order Priority'],
      dtype='object')

In [10]:
(df2_num.isnull().sum().sort_values(ascending=False))

Postal Code      41307
Profit             393
Discount           254
Quantity           162
Row ID             149
Sales              127
Shipping Cost      105
Unnamed: 0           0
dtype: int64

In [11]:
(df2_cat.isnull().sum().sort_values(ascending=False))

Market            456
Product ID        446
City              441
Order ID          428
Order Priority    401
Order Date        276
Segment           265
Sub-Category      230
Customer ID       228
Ship Mode         213
Ship Date         205
Customer Name     175
Country           149
Category           70
Region             51
Product Name       44
State              43
dtype: int64

In [12]:
num_cols=(df2_num.isnull().sum().sort_values(ascending=False))

In [13]:
list(num_cols.index)

['Postal Code',
 'Profit',
 'Discount',
 'Quantity',
 'Row ID',
 'Sales',
 'Shipping Cost',
 'Unnamed: 0']

In [14]:
for col in list(num_cols.index):
    df2_num[col].fillna(df2_num[col].median(),inplace=True)

C:\Users\SAILA\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [15]:
(df2_num.isnull().sum().sort_values(ascending=False))

Shipping Cost    0
Profit           0
Discount         0
Quantity         0
Sales            0
Postal Code      0
Row ID           0
Unnamed: 0       0
dtype: int64

In [16]:
cat_cols=(df2_cat.isnull().sum().sort_values(ascending=False))

In [17]:
for col in list(cat_cols.index):
    df2_cat[col].fillna(df2_cat[col].value_counts().idxmax(),inplace=True)

In [18]:
(df2_cat.isnull().sum().sort_values(ascending=False))

Order Priority    0
City              0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
State             0
Product Name      0
Country           0
Market            0
Region            0
Product ID        0
Category          0
Sub-Category      0
Order ID          0
dtype: int64

In [19]:
df2_cat.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
0,CA-2012-124891,2012-07-31 00:00:00,2012-07-31 00:00:00,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,US,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,Critical
1,IN-2013-77878,2013-02-05 00:00:00,2013-02-07 00:00:00,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,APAC,Oceania,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",Critical
2,IN-2013-71249,2013-10-17 00:00:00,2013-10-18 00:00:00,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,APAC,Oceania,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",Medium
3,ES-2013-1579342,2013-01-28 00:00:00,2013-01-30 00:00:00,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,Germany,EU,Central,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",Medium
4,SG-2013-4320,2013-11-05 00:00:00,2013-11-06 00:00:00,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Africa,Africa,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",Critical

In [21]:
df2_cat_city=df2_cat["City"]

In [22]:
df2_cat_city.head()

0    New York City
1       Wollongong
2         Brisbane
3           Berlin
4            Dakar
Name: City, dtype: object

In [26]:
df2_cat_city.shape

(51290,)

In [23]:
df2_cat_city_enc = pd.get_dummies(df2_cat_city)

In [24]:
df2_cat_city_enc.head()

,Aachen,Aalen,Aalst,Aba,Abadan,Abakaliki,Abbeville,Abbotsford,Abeokuta,Aberdeen,...,Zilina,Zinder,Zlatoust,Zunyi,Zurich,Zwedru,Zwickau,Zwolle,eMbalenhle,Águas Lindas de Goiás
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df2_cat_city_enc.shape

(51290, 3633)

In [27]:
df2_cat_seg=df2_cat["Segment"]

In [28]:
df2_cat_seg.shape

(51290,)

In [30]:
df2_cat_seg.head()

0       Consumer
1      Corporate
2       Consumer
3    Home Office
4       Consumer
Name: Segment, dtype: object

In [29]:
df2_cat_seg_enc = pd.get_dummies(df2_cat_seg)

In [31]:
df2_cat_seg_enc.shape

(51290, 3)

In [32]:
df2_cat_seg_enc.head()

   Consumer  Corporate  Home Office
0         1          0            0
1         0          1            0
2         1          0            0
3         0          0            1
4         1          0            0

In [33]:
df2_cat_reg=df2_cat["Region"]

In [34]:
df2_cat_reg.shape

(51290,)

In [35]:
df2_cat_reg.head()

0       East
1    Oceania
2    Oceania
3    Central
4     Africa
Name: Region, dtype: object

In [36]:
df2_cat_reg_enc = pd.get_dummies(df2_cat_reg)

In [38]:
df2_cat_reg_enc.shape

(51290, 13)

In [39]:
df2_cat_reg_enc.head()

,Africa,Canada,Caribbean,Central,Central Asia,EMEA,East,North,North Asia,Oceania,South,Southeast Asia,West
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0

In [40]:
df2_cat_mar = df2_cat["Market"]

In [41]:
df2_cat_mar.shape

(51290,)

In [42]:
df2_cat_mar.head()

0        US
1      APAC
2      APAC
3        EU
4    Africa
Name: Market, dtype: object

In [43]:
df2_cat_mar_enc = pd.get_dummies(df2_cat_mar)

In [44]:
df2_cat_mar_enc.shape

(51290, 7)

In [46]:
df2_cat_mar_enc.head()

   APAC  Africa  Canada  EMEA  EU  LATAM  US
0     0       0       0     0   0      0   1
1     1       0       0     0   0      0   0
2     1       0       0     0   0      0   0
3     0       0       0     0   1      0   0
4     0       1       0     0   0      0   0

In [47]:
df2_cat_enc = pd.get_dummies(df2_cat)

In [48]:
df2_cat.shape

(51290, 17)

In [49]:
df2_cat_enc.shape

(51290, 49209)

In [50]:
df2_final = pd.concat([df2_num,df2_cat_enc],axis=1)

In [51]:
df2_final.shape

(51290, 49217)

In [52]:
df2_final.head()

,Unnamed: 0,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost,Order ID_AE-2011-9160,Order ID_AE-2013-1130,...,Product Name_iHome FM Clock Radio with Lightning Dock,"Product Name_iKross Bluetooth Portable Keyboard + Cell Phone Stand Holder + Brush for Apple iPhone 5S 5C 5, 4S 4",Product Name_iOttie HLCRIO102 Car Mount,Product Name_iOttie XL Car Mount,Product Name_invisibleSHIELD by ZAGG Smudge-Free Screen Protector,Product Name_netTALK DUO VoIP Telephone Service,Order Priority_Critical,Order Priority_High,Order Priority_Low,Order Priority_Medium
0,0,32298.0,10024.0,2309.650,7.0,0.0,762.1845,933.57,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,26341.0,56301.0,3709.395,9.0,0.1,-288.7650,923.63,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2,25330.0,56301.0,5175.171,9.0,0.1,919.9710,915.49,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,13524.0,56301.0,2892.510,5.0,0.1,-96.5400,910.16,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,47221.0,56301.0,2832.960,8.0,0.0,311.5200,903.04,0,0,...,0,0,0,0,0,0,1,0,0,0

In [53]:
X=df2_final.drop(['Sales'],axis=1)

In [54]:
y = df2_final["Sales"]

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [58]:
X.shape

(51290, 49216)

In [59]:
X_train.shape

(41032, 49216)

In [60]:
X_test.shape

(10258, 49216)